/* Global */
$sf_red: #FF3512;
$sf_black: #1F1F1F;
$sf_white: #FAFAFA;
$sf_lightBlack: #707070;
$lightShadow: -5px -5px 6px #ffffff;
$darkShadow: 5px 5px 6px #00000016;
$shadow: 0px 0px 20px #0000001e;
$redShadow: 0px 0px 20px #fe5b5b98;
$lightRedShadow: -5px -5px 6px #ff5031;
$darkRedShadow: 5px 5px 6px #d82505;

@font-face {
    font-family: "Avenir";
    font-weight: 400;
    src: url('./fonts/Avenir.ttc');
}

@font-face {
    font-family: "Rex";
    font-weight: 700;
    src: url('./fonts/Rex-Bold.ttf');
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: $sf_white;
    font-family: "Avenir";
}

h1 {
    font-family: "Rex";
    font-size: 96px;
}

h2 {
    font-family: "Rex";
    font-size: 48px;
}

h3 {
    font-family: "Rex";
    font-size: 24px;
}

p {
    font-size: 14px;
}

section {
    min-height: 700px;
    box-shadow: $shadow;
    margin-bottom: 50px;
}

.white-text-box {
    width: auto;
    max-width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: $sf_white;
    box-shadow: $shadow;
}

.box-right {
    position: absolute;
    right: 5%;
}

/* NavBar */
nav {
    background-color: $sf_white;
    width: 100%;
    box-shadow: $shadow;
    .navbar {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        color: $sf_red;
        display: flex;
        justify-content: space-between;
        ul {
            margin: 30px auto;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            li {
                display: inline-block;
                margin-right: 50px;
                a {
                    text-decoration: none;
                    color: $sf_red;
                }
                i {
                    color: $sf_red;
                    padding: 10px 12px;
                    border-radius: 20px;
                    box-shadow: $lightShadow, $darkShadow;
                    transition: 0.7s ease all;
                }
                i:hover {
                    box-shadow: inset $lightShadow, inset $darkShadow;
                }
            }
        }
    }
}

/* Hero Section */
.hero {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(#0000007b, #0000007b), url("./images/section_images/sf_hero_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .hero-container {
        width: 70%;
        margin: 100px auto;
        color: $sf_white;
        text-shadow: $shadow;
        text-align: center;
        img {
            margin-bottom: 30px;
        }
        h1 {
            margin: 30px;
        }
        p {
            margin: -30px;
        }
    }
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    background-image: url("./images/section_images/sf_about_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .white-text-box {
        margin-left: 5%;
        img {
            margin: -20px 0px -30px;
        }
        p {
            margin: -30px 0px 10px;
        }
    }
}

/* How Section */
.how {
    display: flex;
    align-items: center;
    background-image: url("./images/section_images/sf_how_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: $shadow;
    .white-text-box {
        h2 {
            margin: 0px;
        }
        .how-sub {
            display: flex;
            align-items: center;
            i {
                margin-right: 20px;
            }
        }
    }
}

/* More Info */
.info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    .more-info {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img {
            height: 500px;
        }
        .more-info-container {
            width: 50%;
            .button-container {
                margin: 30px auto;
                display: flex;
                align-items: center;
                padding: 0;
                list-style-type: none;
                li {
                    display: flex;
                    margin-right: 30px;
                    a {
                        text-decoration: none;
                        font-size: 14px;
                        color: $sf_black;
                        padding: 10px 12px;
                        border-radius: 20px;
                        box-shadow: $lightShadow, $darkShadow;
                    }
                    a:hover {
                        box-shadow: inset $lightShadow, inset $darkShadow;
                    }
                }
            }
        }
        .info-container {
            i {
                color: $sf_red;
            }
            h2 {
                margin: 30px auto 0px;
            }
        }
    }
}

/* Story */
.story {
    margin-top: 50px;
    display: flex;
    align-items: center;
    .story-container {
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        .image-container {
            width: 40%;
            padding: 0;
            flex-direction: column;
            img {
                width: 100%;
                box-shadow: $shadow;
            }
        }
        .text-container {
            color: $sf_white;
            max-width: 500px;
            padding: 40px;
            background-color: $sf_red;
            box-shadow: $redShadow;
            p {
                margin-bottom: 30px;
            }
            a {
                text-decoration: none;
                font-size: 14px;
                color: $sf_white;
                padding: 10px 12px;
                border-radius: 20px;
                box-shadow: $lightRedShadow, $darkRedShadow;
            }
        }
    }
}

/* Footer */ 
footer {
    color: $sf_black;
    background-color: $sf_white;
    box-shadow: $shadow;
    .footer-container {
        display: flex;
        padding: 30px;
        justify-content: space-between;
        .footer-info {
            width: 30%;
            p {
                margin-top: 20px;
            }
        }
        .footer-contact {
            width: 30%;
            ul {
                padding: 0;
                list-style-type: none;
                li {
                    margin-bottom: 20px;
                }
            }
        }
        .footer-nav {
            width: 20%;
            ul {
                padding: 0;
                list-style-type: none;
                li {
                    margin-bottom: 20px;
                    a {
                        text-decoration: none;
                        color: $sf_black;
                    }
                }
            }
        }
    }
}


/*                  */
/*                  */
/* Restaurants Page */
/*                  */
/*                  */

/* Hero Section */
.restaurants-hero {
    background: -webkit-linear-gradient(#0000007b, #0000007b), url("./images/section_images/sf_restaurants_hero_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .hero-container {
        width: 70%;
        margin: 100px auto;
        color: $sf_white;
        text-shadow: $shadow;
        text-align: center;
        img {
            margin-bottom: 30px;
        }
        h1 {
            margin: 30px;
        }
        p {
            margin: -30px;
        }
    }
}

/* Carousel */
.carousel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .carousel-mini {
        background-color: $sf_white;
        box-shadow: $shadow;
        border-radius: 0px 20px 20px 0px;
        display: flex;
        position: relative;
        width: 5%;
        text-align: center;
        justify-content: center;
        i {
            margin-top: 180px;
            color: $sf_lightBlack;
        }
    }
    .right {
        border-radius: 20px 0px 0px 20px;
    }
    .carousel-main {
        width: 70%;
        border-radius: 20px;
        box-shadow: $shadow;
        background-image: url("./images/section_images/sf_how_image.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .white-text-box {
            position: relative;
            float: right;
            width: 300px;
            text-align: center;
            box-shadow: $shadow;
            img {
                width: 120px;
            }
        }
    }
}

/* Search Bar */
.search-bar-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 70px;
    .search-box {
        position: relative;
        margin: 0 auto;
        width: 70%;
        display: flex;
        border-radius: 20px;
        background-color: $sf_white;
        box-shadow: $lightShadow, $darkShadow;
        i {
            padding: 16px;
            margin-left: 8px;
        }
        p {
            padding: 2px;
            color: $sf_lightBlack;
        }
    }
}

/* Restaurant Grid */
.restaurants-grid {
    width: 90%;
    margin: 0px auto 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: $sf_black;
        .restaurant-box {
            width: 270px;
            margin: 20px;
            padding: 20px;
            text-align: center;
            border-radius: 20px;
            box-shadow: $lightShadow, $darkShadow;
            img {
                width: 120px;
            }
            p, span {
                color: $sf_lightBlack;
            }
            .circle-container {
                margin-top: 10px;
                .red {
                    color: #E6512E;
                }
                .green {
                    color: #2FD821;
                }
            }
        }
        .restaurant-box:hover {
            box-shadow: none;
            box-shadow: inset $lightShadow, inset $darkShadow;
        }
    }
}

/*           */
/*           */
/* Menu Page */
/*           */
/*           */

/* Menu Section */
.menu-hero {
    min-height: 400px;
    margin-bottom: 160px;
    background-image: url("./images/section_images/sf_menu_hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: none;
    .hero-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        img {
            margin-top: 250px;
        }
    }
}

/* Restaurant Info */
.menu-restaurant-info {
    text-align: center;
    h2 {
        margin-bottom: 0px;
    }
    .button-container {
        width: 100%;
        max-width: 600px;
        position: relative;
        margin: 30px auto;
        padding: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
        li {
            display: flex;
            a {
                width: 100px;
                text-decoration: none;
                font-size: 14px;
                color: $sf_black;
                padding: 10px 12px;
                border-radius: 20px;
                box-shadow: $lightShadow, $darkShadow;
            }
            a:hover {
                box-shadow: inset $lightShadow, inset $darkShadow;
            }
        }
    }
}

/* Menu Category Grid */
.menu-category-grid {
    width: 90%;
    margin: 0 auto 100px; 
    a {
        text-decoration: none;
        color: $sf_black;
        .menu-category {
            margin: 50px auto;
            padding: 150px 0px 0px 0px;
            border-radius: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: $lightShadow, $darkShadow;
            .menu-category-info {
                padding: 4px 20px;
                border-radius: 0px 0px 20px 20px;
                background-color: $sf_white;
                h3 {
                    margin: 20px auto 0px;
                }
                p {
                    margin: 10px auto;
                    color: $sf_lightBlack;
                }
            }
        }
        .menu-category:hover {
            box-shadow: none;
            box-shadow: inset $lightShadow, inset $darkShadow;
            transition: 0.4s ease all;
            .menu-category-info {
                box-shadow: inset $lightShadow, inset 5px 0px 6px #00000016;
            }
        }
    }
}

/*               */
/*               */
/* Sub-Menu Page */
/*               */
/*               */

/* Menu Category Scroll Bar */
.menu-category-scroll-bar {
    width: 100%;
    align-items: center;
    .scroll-bar-container {
        height: 40px;
        width: 90%;
        margin: auto;
        background-color: $sf_white;
        border-radius: 20px;
        box-shadow: $lightShadow, $darkShadow;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
        li {
            a {
                text-decoration: none;
                color: $sf_black;
            }
        }
    }
} 

/* Menu Items Grid */
.menu-items-grid {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: $sf_black;
        .menu-item {
            width: 240px;
            margin: 20px;
            padding: 150px 0px 0px 0px;
            border-radius: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: none;
            box-shadow: $lightShadow, $darkShadow;
            .menu-item-info {
                padding: 10px 20px;
                border-radius: 0px 0px 20px 20px;
                background-color: $sf_white;
                .menu-item-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3, p {
                        margin: 10px 0px;
                    }
                }
                p {
                    color: $sf_lightBlack;
                    margin: 4px auto;
                }
            }
        }
        .menu-item:hover {
            box-shadow: inset $lightShadow, inset $darkShadow;
            .menu-item-info {
                box-shadow: inset $lightShadow, inset 5px 0px 6px #00000016;
            }
        }
    }
}

