/* Global */
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: url("./fonts/Avenir.ttc");
}

@font-face {
  font-family: "Rex";
  font-weight: 700;
  src: url("./fonts/Rex-Bold.ttf");
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #FAFAFA;
  font-family: "Avenir";
}

h1 {
  font-family: "Rex";
  font-size: 96px;
}

h2 {
  font-family: "Rex";
  font-size: 48px;
}

h3 {
  font-family: "Rex";
  font-size: 24px;
}

p {
  font-size: 14px;
}

section {
  min-height: 700px;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
  margin-bottom: 50px;
}

.white-text-box {
  width: auto;
  max-width: 500px;
  padding: 40px;
  border-radius: 20px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

.box-right {
  position: absolute;
  right: 5%;
}

/* NavBar */
nav {
  background-color: #FAFAFA !important;
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
  position: fixed !important;
  z-index: 999;
}

nav img {
  padding: 20px 0px;
}

nav .navbar-toggler {
  background-color: #FAFAFA;
  border: none;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

nav .navbar-toggler .navbar-toggler-icon {
  color: white;
}

nav .navbar-toggler:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

nav .collapse .navbar-nav {
  margin-left: 20px;
}

nav .collapse .navbar-nav li {
  margin-right: 20px;
}

nav .collapse .navbar-nav li a {
  color: #1F1F1F !important;
}

nav .collapse .navbar-nav li a:hover {
  color: #FF3512 !important;
}

nav .collapse .navbar-text ul {
  margin-top: 16px;
  padding-left: 20px;
  color: #1F1F1F !important;
}

nav .collapse .navbar-text ul li {
  display: inline-block;
  margin-right: 20px;
}

nav .collapse .navbar-text ul li .dropdown-menu {
  background-color: #FAFAFA;
  border: none;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

nav .collapse .navbar-text ul li .dropdown-menu a {
  text-decoration: none;
  background-color: #FAFAFA;
  color: #FF3512;
}

nav .collapse .navbar-text ul li a {
  text-decoration: none;
  color: #FF3512;
}

nav .collapse .navbar-text ul li i {
  color: #FF3512;
  padding: 10px 12px;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

nav .collapse .navbar-text ul li i:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

/*
nav {
    background-color: $sf_white;
    width: 100%;
    box-shadow: $shadow;
    .navbar {
        width: 90%;
        max-width: 1600px;
        margin: 0 auto;
        color: $sf_red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .navbar-toggler {
            .navbar-toggler-icon {
                margin-top: 10px;
                color: $sf_red;
            }
        }
        ul {
            min-width: 300px;
            margin: 30px auto;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            li {
                display: inline-block;
                .dropdown-menu {
                    background-color: $sf_white;
                    border: none;
                    box-shadow: $shadow;
                    a {
                        text-decoration: none;
                        background-color: $sf_white;
                        color: $sf_red;
                    }
                }
                a {
                    text-decoration: none;
                    color: $sf_red;
                }
                i {
                    color: $sf_red;
                    padding: 10px 12px;
                    border-radius: 20px;
                    box-shadow: $lightShadow, $darkShadow;
                    transition: 0.7s ease all;
                }
                i:hover {
                    box-shadow: inset $lightShadow, inset $darkShadow;
                }
            }
        }
        .collapse {
            .nav-right {
            }
        }
    }
}
*/
/* Hero Section */
.hero {
  margin: 0;
  padding: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(#0000007b, #0000007b), url("./images/section_images/sf_hero_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .hero-container {
  width: 70%;
  margin: 150px auto 100px;
  color: #FAFAFA;
  text-shadow: 0px 0px 20px #0000001e;
  text-align: center;
}

.hero .hero-container img {
  margin-bottom: 30px;
}

.hero .hero-container h1 {
  margin: 30px;
}

.hero .hero-container p {
  margin: -30px;
}

/* About Section */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./images/section_images/sf_about_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about .white-text-box {
  margin-left: 5%;
  width: 50%;
}

/* How Section */
.how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./images/section_images/sf_how_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

.how .white-text-box {
  width: 50%;
}

.how .white-text-box .how-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how .white-text-box .how-sub i {
  margin-right: 20px;
}

.how .white-text-box .how-sub p {
  margin-top: 15px;
}

/* More Info */
.info {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info .more-info img {
  max-height: 500px;
}

.info .more-info .more-info-container {
  margin: 0 auto;
}

.info .more-info .more-info-container .button-container {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

.info .more-info .more-info-container .button-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px;
}

.info .more-info .more-info-container .button-container li a {
  text-decoration: none;
  font-size: 14px;
  color: #1F1F1F;
  padding: 10px 12px;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

.info .more-info .more-info-container .button-container li a:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

.info .more-info .info-container {
  margin-bottom: 50px;
}

.info .more-info .info-container i {
  color: #FF3512;
}

.info .more-info .info-container h2 {
  margin: 30px auto 0px;
}

/* Story */
.story {
  margin: 50px auto 0px;
  padding-top: 50px;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story .story-container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.story .story-container .image-container {
  width: 50%;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.story .story-container .image-container img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

.story .story-container .text-container {
  width: 50%;
  color: #FAFAFA;
  max-width: 900px;
  padding: 40px;
  background-color: #FF3512;
  -webkit-box-shadow: 0px 0px 20px #fe5b5b98;
          box-shadow: 0px 0px 20px #fe5b5b98;
}

.story .story-container .text-container p {
  margin-bottom: 30px;
}

.story .story-container .text-container a {
  text-decoration: none;
  font-size: 14px;
  color: #FAFAFA;
  padding: 10px 12px;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ff5031, 5px 5px 6px #d82505;
          box-shadow: -5px -5px 6px #ff5031, 5px 5px 6px #d82505;
}

.story .story-container .text-container a:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ff5031, inset 5px 5px 6px #d82505;
          box-shadow: inset -5px -5px 6px #ff5031, inset 5px 5px 6px #d82505;
}

/* Footer */
footer {
  color: #1F1F1F;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .footer-info {
  margin-bottom: 40px;
}

footer .footer-container .footer-info p {
  margin: 20px 0px;
}

footer .footer-container .footer-contact {
  margin-bottom: 40px;
}

footer .footer-container .footer-contact ul {
  padding: 0;
  list-style-type: none;
}

footer .footer-container .footer-contact ul li {
  margin-bottom: 20px;
}

footer .footer-container .footer-nav ul {
  padding: 0;
  list-style-type: none;
}

footer .footer-container .footer-nav ul li {
  margin-bottom: 20px;
}

footer .footer-container .footer-nav ul li a {
  text-decoration: none;
  color: #1F1F1F;
}

/*                  */
/*                  */
/* Restaurants Page */
/*                  */
/*                  */
/* Hero Section */
.restaurants-hero {
  background: -webkit-linear-gradient(#0000007b, #0000007b), url("./images/section_images/sf_restaurants_hero_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.restaurants-hero .hero-container {
  width: 70%;
  margin: 100px auto;
  color: #FAFAFA;
  text-shadow: 0px 0px 20px #0000001e;
  text-align: center;
}

.restaurants-hero .hero-container img {
  width: auto;
  margin-bottom: 30px;
}

.restaurants-hero .hero-container h1 {
  margin: 30px;
}

.restaurants-hero .hero-container p {
  margin: -30px;
}

/* Carousel */
.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.carousel .carousel-mini {
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
  border-radius: 0px 20px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .carousel-mini i {
  margin: 180px;
  color: #707070;
}

.carousel .right {
  border-radius: 20px 0px 0px 20px;
}

.carousel .carousel-main {
  width: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
  background-image: url("./images/section_images/sf_how_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel .carousel-main .white-text-box {
  position: relative;
  float: right;
  width: 300px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

.carousel .carousel-main .white-text-box img {
  width: 120px;
}

/* Search Bar */
.search-bar-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 70px;
}

.search-bar-container .search-box {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  background-color: #FAFAFA;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

.search-bar-container .search-box i {
  padding: 16px;
  margin-left: 8px;
}

.search-bar-container .search-box input {
  border: none;
  width: 100%;
  padding: 2px;
  border-radius: 20px;
  color: #707070;
  background-color: #FAFAFA;
}

/* Restaurant Grid */
.restaurants-grid {
  margin: 70px auto;
}

.restaurants-grid .App {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.restaurants-grid a {
  text-decoration: none;
  color: #1F1F1F;
}

.restaurants-grid a .restaurant-box {
  width: 270px;
  min-height: 370px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
  -webkit-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
}

.restaurants-grid a .restaurant-box img {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.restaurants-grid a .restaurant-box p, .restaurants-grid a .restaurant-box span {
  color: #707070;
}

.restaurants-grid a .restaurant-box .circle-container {
  margin-top: 10px;
}

.restaurants-grid a .restaurant-box .circle-container .red {
  color: #E6512E;
}

.restaurants-grid a .restaurant-box .circle-container .green {
  color: #2FD821;
}

.restaurants-grid a .restaurant-box:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

/*            */
/*            */
/* About Page */
/*            */
/*            */
/* About Hero */
.about-hero {
  background-image: -webkit-linear-gradient(#0000007b, #0000007b), url("./images/section_images/sf_about_hero_image.jpg");
}

/* Team Grid */
.team-grid {
  margin: 70px auto;
}

.team-grid .team-box {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
}

.team-grid .team-box img {
  width: 50%;
  max-width: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.team-grid .team-box p, .team-grid .team-box span {
  color: #707070;
}

.team-grid .team-box .team-box-info {
  padding: 50px;
}

.team-grid .team-box .team-box-info i {
  color: #FF3512;
  margin: 0px 20px;
}

/*           */
/*           */
/* Menu Page */
/*           */
/*           */
/* Menu Section */
.menu-hero {
  min-height: 400px;
  margin-bottom: 160px;
  background-image: url("./images/section_images/sf_menu_hero_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-hero .hero-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-hero .hero-container img {
  margin-top: 300px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px #0000001e;
          box-shadow: 0px 0px 20px #0000001e;
}

/* Restaurant Info */
.menu-restaurant-info {
  text-align: center;
}

.menu-restaurant-info h2 {
  margin-bottom: 0px;
}

.menu-restaurant-info .button-container {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 30px auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-restaurant-info .button-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-restaurant-info .button-container li a {
  width: 100px;
  text-decoration: none;
  font-size: 14px;
  color: #1F1F1F;
  padding: 10px 12px;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

.menu-restaurant-info .button-container li a:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

/* Menu Category Grid */
.menu-category-grid {
  width: 90%;
  margin: 0 auto 100px;
}

.menu-category-grid a {
  text-decoration: none;
  color: #1F1F1F;
}

.menu-category-grid a .menu-category {
  margin: 50px auto;
  padding: 150px 0px 0px 0px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

.menu-category-grid a .menu-category .menu-category-info {
  padding: 4px 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: #FAFAFA;
}

.menu-category-grid a .menu-category .menu-category-info h3 {
  margin: 20px auto 0px;
}

.menu-category-grid a .menu-category .menu-category-info p {
  margin: 10px auto;
  color: #707070;
}

.menu-category-grid a .menu-category:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.menu-category-grid a .menu-category:hover .menu-category-info {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 0px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 0px 6px #00000016;
}

/*               */
/*               */
/* Sub-Menu Page */
/*               */
/*               */
/* Menu Category Scroll Bar */
.menu-category-scroll-bar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-category-scroll-bar .scroll-bar-container {
  height: 50px;
  width: 90%;
  margin: auto;
  background-color: #FAFAFA;
  border-radius: 20px;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-category-scroll-bar .scroll-bar-container li {
  padding: 4px 10px;
  border-radius: 20px;
}

.menu-category-scroll-bar .scroll-bar-container li a {
  text-decoration: none;
  color: #1F1F1F;
  padding: 4px 20px;
}

.menu-category-scroll-bar .scroll-bar-container .active {
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

.menu-category-scroll-bar .scroll-bar-container .active:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

/* Menu Items Grid */
.menu-items-grid {
  width: 90%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-items-grid a {
  text-decoration: none;
  color: #1F1F1F;
}

.menu-items-grid a .menu-item {
  width: 240px;
  margin: 20px;
  padding: 150px 0px 0px 0px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
          box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
}

.menu-items-grid a .menu-item .menu-item-info {
  padding: 10px 20px;
  border-radius: 0px 0px 20px 20px;
  background-color: #FAFAFA;
}

.menu-items-grid a .menu-item .menu-item-info .menu-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items-grid a .menu-item .menu-item-info .menu-item-top h3, .menu-items-grid a .menu-item .menu-item-info .menu-item-top p {
  margin: 10px 0px;
}

.menu-items-grid a .menu-item .menu-item-info p {
  color: #707070;
  margin: 4px auto;
}

.menu-items-grid a .menu-item:hover {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
}

.menu-items-grid a .menu-item:hover .menu-item-info {
  -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 0px 6px #00000016;
          box-shadow: inset -5px -5px 6px #ffffff, inset 5px 0px 6px #00000016;
}

@media screen and (max-width: 992px) {
  /* Story */
  .story .story-container {
    padding-bottom: 50px;
  }
  .story .story-container .image-container {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .story .story-container .image-container img {
    width: 50%;
    -webkit-box-shadow: 0px 0px 20px #0000001e;
            box-shadow: 0px 0px 20px #0000001e;
  }
  .story .story-container .text-container {
    width: auto;
    color: #FAFAFA;
    max-width: 900px;
  }
}

@media screen and (max-width: 688px) {
  /* Hero Section */
  .restaurants-hero .hero-container img {
    width: 90%;
  }
  /* About Section */
  .about .white-text-box {
    width: 70%;
  }
  /* How Section */
  .how .white-text-box {
    width: 70%;
  }
  /* More Info */
  .info .more-info img {
    max-height: 320px;
  }
  .info .more-info .more-info-container {
    width: 90%;
  }
  /* Story */
  .story .story-container .image-container {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .story .story-container .image-container img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 20px #0000001e;
            box-shadow: 0px 0px 20px #0000001e;
  }
  .story .story-container .text-container {
    width: auto;
    color: #FAFAFA;
    max-width: 900px;
  }
  /* Restaurant Grid */
  .restaurants-grid a .restaurant-box {
    width: 90%;
  }
  /* Team Grid */
  .team-grid {
    margin: 70px auto;
  }
  .team-grid .team-box {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
            box-shadow: -5px -5px 6px #ffffff, 5px 5px 6px #00000016;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.9s ease-in;
    transition: all 0.9s ease-in;
  }
  .team-grid .team-box img {
    width: 50%;
    height: auto;
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  .team-grid .team-box p, .team-grid .team-box span {
    color: #707070;
  }
  .team-grid .team-box .team-box-info {
    padding: 10px;
  }
  .team-grid .restaurant-box:hover {
    -webkit-box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
            box-shadow: inset -5px -5px 6px #ffffff, inset 5px 5px 6px #00000016;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 48px;
  }
  /* Hero Section */
  .hero .hero-container {
    width: 90%;
  }
  .hero .hero-container img {
    width: 70%;
    margin-bottom: 30px;
  }
  .hero .hero-container h1 {
    font-size: 48px;
  }
  .hero .hero-container p {
    margin: -30px;
  }
  /* About Section */
  .about .white-text-box {
    margin-left: 5%;
    width: 90%;
  }
  /* How Section */
  .how .white-text-box {
    width: 90%;
  }
  .how .white-text-box .how-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how .white-text-box .how-sub i {
    margin-right: 20px;
  }
  .how .white-text-box .how-sub p {
    margin-top: 15px;
  }
  /* Story */
  .story .story-container {
    width: 100%;
  }
  .story .story-container .image-container img {
    height: auto;
  }
  /* Footer */
  footer .footer-container {
    padding: 10px;
  }
  footer .footer-container .footer-info {
    margin-top: 10px;
  }
  footer .footer-container .footer-contact ul li {
    font-size: 14px;
  }
  footer .footer-container .footer-nav ul li {
    font-size: 14px;
  }
  /*                  */
  /*                  */
  /* Restaurants Page */
  /*                  */
  /*                  */
  /* Hero Section */
  .restaurants-hero .hero-container img {
    width: 90%;
    margin-bottom: 0px;
  }
  .restaurants-hero .hero-container h1 {
    margin: 30px;
  }
  .restaurants-hero .hero-container p {
    margin: -30px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */